/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
.page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a:hover {
    cursor: pointer; 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a90e2;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
form {
    display: flex;
    align-items: center;
}
.input-container {
    position: relative; 
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px;
}
#search-input, #main-search-input {
    padding: 12px 20px 12px 40px; 
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 24px; 
    width: 300px; 
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
#search-input:focus, #main-search-input:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 8px rgba(44, 62, 80, 0.5); 
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: 1;
    padding: 10px;

}
.datetime {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}
.footer {
    display: flex; 
    justify-content: center;
    background-color: #4a90e2; 
    color: white; 
    padding: 20px;
    flex-wrap: wrap;
}
.footer-link {
    margin: 0 15px; 
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    transition: color 0.3s ease; 
}
.footer-link:hover {
    color: #d1e2f2; 
}

/* Mobile and Tablet Styles */
@media (max-width: 900px) {
    .header {
        flex-direction: row-reverse;
        align-items: center;
        padding: 10px;
    }

    #search-input, #main-search-input {
        width: unset;
    }
    .main {
        padding: 20px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-link {
        margin: 5px 0;
    }

    .search-div{
        display: none;
    }

}

/* Popup Background */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Button Style */
.pdfify-button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0078D4;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  /* Modal Background */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #f9f9f9;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .close-btn {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .conversion-section {
    margin-top: 20px;
  }
  
  .conversion-section h3 {
    margin-bottom: 10px;
  }
  
  .conversion-option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #0078D4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .conversion-option:hover {
    background-color: #005bb5;
  }
  


.channel-list {
    margin-top: 20px;
    display: none; /* Hide the list initially */
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
}

.channel-button {
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
}

.channel-button:hover {
    background-color: #005bb5;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}