/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
.page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a:hover {
    cursor: pointer; 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c2d4f;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
form {
    display: flex;
    align-items: center;
}
.input-container {
    position: relative; 
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px;
}
#search-input, #main-search-input {
    padding: 12px 20px 12px 40px; 
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 24px; 
    width: 480px; 
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
#search-input:focus, #main-search-input:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 8px rgba(44, 62, 80, 0.5); 
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: 1;
    padding: 10px;

}
.datetime {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}
.footer {
    display: flex; 
    justify-content: center;
    background-color: #1c2d4f; 
    color: white; 
    padding: 20px;
    flex-wrap: wrap;
}
.footer-link {
    margin: 0 15px; 
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    transition: color 0.3s ease; 
}
.footer-link:hover {
    color: #d1e2f2; 
}

/* Mobile and Tablet Styles */
@media (max-width: 900px) {
    .header {
        align-items: center;
        padding: 10px;
    }

    #search-input, #main-search-input {
        max-width: 350px;
    }
    .main {
        padding: 20px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-link {
        margin: 5px 0;
    }

    .search-div{
        display: none;
    }

}

.radio-container {
    max-width: 500px;
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.radio-header {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Bigger font size */
}

audio {
    width: 100%;
    border-radius: 24px;
    margin-bottom: 10px;
    transition: transform 0.2s; /* Smooth transition */
}

audio:hover {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.search-input {
    padding: 10px;
    border: 1px solid #1c2d4f;
    border-radius: 24px;
    width: calc(100% - 22px); /* Adjust width to fit padding */
    margin-bottom: 20px;
    font-size: 16px; /* Increase font size */
}

.channel-list {
    max-height: 300px; /* Increased height for better usability */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    display: none; /* Hide the list initially */
}

.channel-button {
    background-color: #1c2d4f;
    color: white;
    border: none;
    padding: 12px 15px; /* Increased padding for better click area */
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    text-align: left; /* Align text to the left */
    transition: background-color 0.3s; /* Smooth hover transition */
}

.channel-button:hover {
    background-color: #ffcc3e ;
    color: #333;
}
